# PySpark의 Hive 연결 예제

### 1. findspark를 통해 pyspark 등 라이브러리 추가

In [1]:
import findspark
findspark.init("/usr/local/lib/spark-3.3.2-bin-hadoop3")

### 2. SparkConf를 통해 configuration 추가하고, SparkContext 생성

In [3]:
from pyspark import SparkContext, SparkConf

sconf = SparkConf()
sconf.setAppName("Jupyter_Notebook") \
        .setSparkHome("/usr/local/lib/spark-3.3.2-bin-hadoop3") \
        .setMaster("yarn") \
        .setExecutorEnv("client") 
sc = SparkContext(conf=sconf)

23/03/09 04:26:39 WARN SparkContext: Another SparkContext is being constructed (or threw an exception in its constructor). This may indicate an error, since only one SparkContext should be running in this JVM (see SPARK-2243). The other SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.lang.reflect.Constructor.newInstance(Constructor.java:423)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.lang.Thread.run(Thread.java:750)
23/03/09 04:26:39 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

### 3. Hadoop을 통해 Hive 설정을 받아오고 HiveContext를 자동으로 생성하는 enableHiveSupprot() 메소드 호출
이를 위해선 HADOOP_CONF_DIR 변수가 설정 되어있어야 하고, 필요한 경우 Hive warehouse 경로인 spark.sql.warehouse.dir, Hive metastore 주소인 hive.metastore.uris 설정이 되어있어야 한다.

In [4]:
from pyspark.sql import SparkSession

hc = SparkSession.builder.appName("PySpark_Hive_Session").enableHiveSupport().getOrCreate()

### 4. HQL문을 전달하여 데이터 추출

In [66]:
trade_df = hc.sql("SELECT * FROM real_estate.trade;")

count_grouped_date_df = trade_df.groupBy("deal_date").count()
count_grouped_date_df.show()

AssertionError:

### 5. Hive 세션과 SparkContext 종료

In [67]:
hc.stop()
sc.stop()